<p-card header="Reactive form">
  <form [formGroup]="form">
    <div class="formgrid grid">
      <div class="field col">
        <label for="name">Name: </label>
        <input pInputText class="inputfield w-full" id="name" type="text" formControlName="name" />
      </div>
      <div class="field col">
        <label for="email">Email: </label>
        <input pInputText class="inputfield w-full" id="email" type="email" formControlName="email" />
      </div>
    </div>
  </form>
  <p-button label="Save" (onClick)="save()"></p-button>
</p-card>

<br />

{{ form.value | json }}
